<!DOCTYPE html>
<html lang = "en">
	<head>
		<title>Home</title>
		<link rel="icon" type="image/png" sizes="32x32" href="/static/images/logo.png">
		 <!-- Meta -->
		<meta charset = "UTF-8">
		<meta name = "viewport" content = "width= device-width, initial-scale= 1, shrink-to-fit= no">
		<meta name="description" content="Portfolio for Ize Majebi Full Stack Web Developer">
		<meta name="author" content="Ize Majebi"> 
		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<!-- Bootstrap CSS -->
		<link href = "/static/bootstrap/css/bootstrap.css" rel = "stylesheet" type = "text/css">
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<!-- FontAwesome CSS -->
		<link rel = "stylesheet" href= "/static/fontawesome/css/all.css">
		<!-- Animate CSS -->
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
		<!-- CSS Files -->
		<link href = "/static/index.css" rel = "stylesheet" type = "text/css">
		<link href = "/static/headerandfooter.css" rel = "stylesheet" type = "text/css">
	</head>
	<body>
		<div class = "container-fluid">
			<div class = "row position-sticky top-0" style = "background-color:#000; z-index:100;">
				<div class = "col" id = "logo">
					<i class="fa-solid fa-code mx-0"><span>IZE</span></i>	
				</div>
				<div class = "col-md-7 mt-4 text-end " id = "emailandnumber">
					<i class="fa-solid fa-at"></i>
					izemajebi2@gmail.com
					<i class="fa-solid fa-phone ms-3"></i>
					+2349166914896
				</div>
			</div>
			<div class = "row mt-1 mb-5" id = "mainheadingdiv" >
				<div class = "col-md-12 position-relative mb-5" >
					<div id = "heading1div" class = "mb-2">
					<h1 id = "heading1" class=" mt-2 ms-5" data-aos="fade-right" data-aos-duration="1000">Hi, my name is <span style ="color:#F92C85;">Ize Majebi</span></h1>
					<p class="ms-5" data-aos="fade-right" data-aos-duration="1000">A Web Developer living in Lagos, Nigeria. I make web applications<br>usually with <span style ="color:#F92C85;">Flask.</span></p>
					<!-- <!-- <a href= "/contact/" class = "btn me-3 px-4">Hire Me</a> -->
					<a href = "#aboutme" class = "btn px-4 ms-5" data-aos="fade-right" data-aos-duration="1000">Learn more</a>
					</div>
				</div>
			</div>
			<div class = "row mt-5 position-relative aboutmediv" id="aboutme">
				<div class = "col-md-6 mt-5 position-relative" id = "aboutdiv" >
					
					<p class="mt-5 intro ms-5" data-aos="fade-right" data-aos-duration="1000" >I'm a Full-Stack Developer, proficient in front end development and back end web development. Comfortable coding with HTML, CSS, and Javascript for the client-side and maintaining databases and infrastructure server-side using Python and Flask framework. Adapt in using MySQL database in supporting my work in both development and production of code. I am eager to work on new projects and open to learn more from people and also deliver my tasks on time and efficiently.</p>
					<a href = "/static/ize_majebi_cv.pdf" class="btn px-4 introlink ms-5" data-aos="fade-right" data-aos-duration="1000">View Resume</a>
				</div>
				<div class="col-md-6 position-relative imagediv">
					<h2 class="mt-5" data-aos="fade-right" data-aos-duration="1000">About Me</h2>
					<div class="col-md-7 profilepic position-relative">
					<img src="/static/images/img3.jpg" class="img-fluid mt-5 mb-2 pic" data-aos="fade-left" data-aos-duration="1000">
					</div>
				</div>

			</div>
			<div class = "row">
				<div class ="col-md">
					<div class ="mt-5 p-2 position-relative" id = "heading2div">
						<h1 class="mb-5" data-aos="fade-right" data-aos-duration="1000">PORTFOLIO<h1>
						<h2 class="mt-4" data-aos="fade-up" data-aos-duration="1000">Take a look at some of the<br><span style = "color:#F92C85">projects</span> I've worked on</h2>
					</div>
				</div>
			</div>
			<div class = "row position-relative">
					<div class= "col-md-8">
						<div class="card ms-5" id = "project3" data-aos="fade-left" data-aos-duration="1200">
						  <img src="/static/images/img8.png" class="img-fluid" alt="website photo">
						  <div class="card-body" style = "color:#F5F5F5; background-color: #1B1B1B;">
								<h5 class="card-title font-weight-bold"> The Lawlist </h5>
						  </div>
						</div>
					</div>
					<div class= "col-md-4 projectdescr" data-aos="fade-right" data-aos-duration="1000">
						<h3>The Lawlist</h3>
						<p>The Lawlist is an online marketplace where lawyers can interact and exchange services.</p>
						<a href = "#" class = "btn px-4 livelink" data-aos="fade-right" data-aos-duration="1000">See Live</a>
					</div>
			</div>

			<br>
			<div class = "row contact mt-3">
				<section class="py-5 px-5">
						<div class="col-md">
							<h3 class="section-title font-weight-bold text-center mb-2 mt-5">Interested in hiring me for your project?</h3>
							<div class="text-center">
								<button type="button" class="btn mb-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
									Let's Talk
								 </button>
								 <div class="modal fade text-dark text-start" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
										  <div class="modal-header">
											 <h5 class="modal-title" id="staticBackdropLabel">Contact Me</h5>
											 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color:white"></button>
										  </div>
										  <div class="modal-body">
											<div id="success"></div>
											<form action="#" id="contact-form">
												<div class="mb-3">
													<label for="recipient-name" class="col-form-label">Name:</label>
													<input type="text" class="form-control" id="name" name="fullname">
													<div class="error" id="error1"></div>
												 </div>
												<div class="mb-3">
												  <label for="recipient-name" class="col-form-label">Email:</label>
												  <input type="email" class="form-control"  name="mail" id="mail">
												  <div class="error" id="error2"></div>
												</div>
												<div class="mb-3">
												  <label for="message-text" class="col-form-label">Leave me a message:</label>
												  <textarea class="form-control" id="msg" name="message"></textarea>
												  <div class="error" id="error3"></div>
												</div>
												<button type="submit" class = "btn px-4 " id="submitbtn">Send Message</button>
											 </form>
										  </div>
										  <div class="modal-footer">
											 <button type="button" class = "btn px-4" data-bs-dismiss="modal" id="closebtn">Close</button>
											 
										  </div>
										</div>
									 </div>
								 </div>								 
							</div>
							
						</div>
				</section>
			</div>
			<div class="row sociallinks">
				<div class="col-md text-center p-5">
					<a href="#mainheadingdiv"><i class="fa-solid fa-chevron-up mb-5"></i></a>
					<ul class="list-inline mb-5">
						<li class="list-inline-item mb-3 me-5"><a class="socialmedia" href="https://twitter.com" target= "_blank"><i class="fa-brands fa-twitter"></i></a></li>
						
						<li class="list-inline-item mb-3 me-5"><a class="socialmedia" href="https://www.linkedin.com/in/ize-majebi-55195824a/" target= "_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
						<li class="list-inline-item mb-3"><a class="socialmedia" href="https://github.com/izemaj/" target= "_blank"><i class="fa-brands fa-github"></i></a></li>
					</ul>
					<hr style="color:#F5F5F5">
				</div>
			</div>
		</div>
	
	
	
	
	

	
	<!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="menu" aria-labelledby="menuLabel">
	  <div class="offcanvas-header">
		<h5 class="offcanvas-title" id="menuLabel"></h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	  </div>
	  <div class="offcanvas-body">
		<div>
			<nav class="nav flex-column" >
				<a class="nav-link active" aria-current="page" href="/">Home</a>
				<a class="nav-link" href="/portfolio/">Portfolio</a>
				<a class="nav-link" href="/resume/">Resume</a>
				 <a class="nav-link" href="/contact/">Contact</a>
			 </nav>
		</div>
		<br>
		<div>
			<ul class="list-inline mb-0 ">
				<li class="list-inline-item mb-3"><a class="socialmedia" href="https://twitter.com" target= "_blank"><i class="fa-brands fa-twitter" style= "color:#36393b;;font-size: 3rem"></i></a></li>
				
				<li class="list-inline-item mb-3"><a class="socialmedia" href="https://www.linkedin.com/in/ize-majebi-55195824a/" target= "_blank"><i class="fa-brands fa-linkedin-in" style= "color:#36393b;;font-size: 3rem"></i></a></li>
				<li class="list-inline-item mb-3"><a class="socialmedia" href="https://github.com/izemaj/" target= "_blank"><i class="fa-brands fa-github"style= "color:#36393b;; font-size: 3rem"></i></a></li>
			</ul>
		</div>
	  
	</div> -->


	  
</div>
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src = "/static/bootstrap/js/bootstrap.bundle.js"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();

	 $(document).ready(function() {
    $(document).on('submit', '#contact-form', function() {
      var name = $("#name").val()
		var email = $("#mail").val()
		var msg = $("#msg").val()
		var data2send = {"name":name,"email":email,"msg":msg}
		$.ajax({
		url:"/contactform/",
		type:"get",
		dataType: "text",
		data: data2send,
		success: function(msg){
			$("#success").html(msg)
			$("#name").val("")
			$("#mail").val("")
			$("#msg").val("")
			$("#submitbtn").html("Send Message")
		},
		error: function(err){
			console.log(err)
		},
		beforeSend: function(){
			$("#submitbtn").html("...")
		}
		})
      return false;
     });

	  $("#submitbtn").click(function(event){
		var name = $("#name").val()
		var email = $("#mail").val()
		var msg = $("#msg").val()

		if(name=="" || email=="" || msg==""){
			event.preventDefault()
		}

		if(name == ""){
			$("#error1").html("<p class='text-danger'>This field can not be empty.</p>")
		}else{
			$("#error1").html("")
		}

		if(email == ""){
			$("#error2").html("<p class='text-danger'>This field can not be empty.</p>")
		}else{
			$("#error2 ").html("")
		}

		if(msg == ""){
			$("#error3").html("<p class='text-danger'>This field can not be empty.</p>")
		}else{
			$("#error3").html("")
		}
	  })
		
	  $("#closebtn").click(function(){
		$("#success").html("")
	  })
	});
  </script>

</body>

</html>